.content {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.acces-warning {
    width: 80%;
    text-align: center;
    margin-top: 75px;
    height: 200px;
    font-size: 1.6rem;
    color: var(--login-error-comunicate-color);
}

.container {
    height: 300px;
}