footer {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    height: 320px;
    background-color: var(--footer-background-color);
}

.footer-part-1 {
    margin-left: 5%;
}

.footer-part-2 {
    margin-left: 5%;
}

#fb {
    width: 78px;
    height: 78px;
}

#ins {
    margin-left: 20px;
    width: 69px;
    height: 69px;
}

h5 {
    margin-top: 25px;
    margin-bottom: 20px;
    color: var(--content-text-color-4);
    font-size: clamp(1.5rem, 5vw, 1.8rem);
    letter-spacing: 1px;
}

h6 {
    margin-bottom: 10px;
    color: var(--content-text-color-4);
    font-size: clamp(1.3rem, 5vw, 1.5rem);
    letter-spacing: 1px;
}