.content {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.acces-warning {
    width: 80%;
    text-align: center;
    margin-top: 75px;
    height: 200px;
    font-size: 1.6rem;
    color: var(--login-error-comunicate-color);
}

.container {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

h3 {
    color: var(--content-text-color-3);
    font-size: 1.5rem;
}

.trainig-title-div {
    margin-top: 75px;
    width: 300px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    border: solid 3px var(--menu-background-color);
    background-color: var(--menu-background-color);
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

.taining-content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 15px;
    border-radius: 8px;
    color: var(--content-text-color-1);
    font-size: 1.3rem;
    border: solid 3px var(--menu-background-color);
    background-color: var(--menu-background-color);
}

.taining-content-div button {
    margin-top: 20px;
    width: 130px;
    height: 50px;
    background-color: var(--signup-button-color);
    border: solid 3px var(--signup-button-border-color);
    color: var(--content-text-color-1);
    border-radius: 100px;
    font-family: 'Arvo', serif;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
}