.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-bottom: 80px;
}

.content-header-conatiner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    text-align: center;
    color: var(--content-text-color-3);
    font-size: 2.4rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

span {
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: var(--content-text-color-1);
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.img05-div {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 600px;
}

.img05-div img{
    max-width: 600px;
    border-bottom: solid 1px var(--menu-background-color);
    -webkit-box-shadow: 0px 0px 10px 3px var(--content-text-color-2);
    -moz-box-shadow: 0px 0px 10px 3px var(--content-text-color-2);
    box-shadow: 0px 0px 10px 3px var(--content-text-color-2);
}

.cointainer-separator{
    width: 100%;
    border-bottom: solid 1px var(--menu-background-color);
    -webkit-box-shadow: 0px 0px 3px 0px var(--content-text-color-2);
    -moz-box-shadow: 0px 0px 3px 0px var(--content-text-color-2);
    box-shadow: 0px 0px 3px 0px var(--content-text-color-2);
}
.content-conatiner {
    width: 100%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content-conatiner > p {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 5px;
    color: var(--content-text-color-1);
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.diets-div-describe {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 120px;
}

@media only screen and (max-width: 1280px) {
    .diets-div-describe {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
}

.img04-div img{
    width: 600px;
    border-bottom: solid 1px var(--menu-background-color);
    -webkit-box-shadow: 0px 0px 10px 3px var(--content-text-color-2);
    -moz-box-shadow: 0px 0px 10px 3px var(--content-text-color-2);
    box-shadow: 0px 0px 10px 3px var(--content-text-color-2);
}

.diets-describe {
    padding-top: 40px;
    margin-left: 50px;
    text-align: start;
    color: var(--content-text-color-1);
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 30px;
}

@media only screen and (max-width: 1280px) {
    .diets-describe {
        padding-top: 50px;
        margin-left: 0px;
        text-align: center;
        color: var(--content-text-color-1);
        font-size: 1.4rem;
        letter-spacing: 1px;
        line-height: 30px;
    }
}

.trainings-div-describe{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 130px;
}

@media only screen and (max-width: 1280px) {
    .trainings-div-describe{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 110px;
    }
}

.training-describe {
    padding-top: 40px;
    margin-right: 50px;
    text-align: start;
    color: var(--content-text-color-1);
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 30px;
}

@media only screen and (max-width: 1280px) {
    .training-describe {
        padding-top: 50px;
        margin-right: 0px;
        text-align: center;
        color: var(--content-text-color-1);
        font-size: 1.4rem;
        letter-spacing: 1px;
        line-height: 30px;
    }
}

.img02-div img{
    width: 600px;
    border-bottom: solid 1px var(--menu-background-color);
    -webkit-box-shadow: 0px 0px 10px 3px var(--content-text-color-2);
    -moz-box-shadow: 0px 0px 10px 3px var(--content-text-color-2);
    box-shadow: 0px 0px 10px 3px var(--content-text-color-2);
}