:root{
    --body-background-color: #1E1D1D;
    --menu-background-color: #111111;
    --menu-logo-color: #0029FF;
    --signup-button-color: #65FF4B;
    --signup-button-border-color: #1AB700;
    --footer-background-color: #1A1A1A;
    --content-text-color-1: white;
    --content-text-color-2: black;
    --content-text-color-3: wheat;
    --content-text-color-4: #E2E2E2;
    --input-login-panel-fill-color: #CBCBCB;
    --input-login-panel-text-color: #767676;
    --calculate-button-color: #3752da;
    --calculate-button-border: #0225d0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-background-color);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}