nav {
    display: flex;
    align-items: center;
    min-width: 100%;
    height: 110px;
    background-color: var(--menu-background-color);
    -webkit-box-shadow: 0px 5px 7px 0px var(--menu-background-color);
    -moz-box-shadow: 0px 5px 7px 0px var(--menu-background-color);
    box-shadow: 0px 5px 7px 0px var(--menu-background-color);
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.header-nav-logo {
    width: 25%;
    margin-left: 3%;
    margin-right: 4%;
}

.header-nav-logo a {
    color: var(--menu-logo-color);
    font-family: 'Permanent Marker', cursive;
    font-size: 2.8rem;
    letter-spacing: 4px;
    text-decoration: none;
}

.header-nav-options {
    display: flex;
    justify-content: center;
    width: 56%;
}

.header-nav-options a {
    color: var(--content-text-color-1);
    font-size: clamp(1.2rem, 1.75vw, 1.8rem);
    letter-spacing: 1px;
    margin-right: 5%;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.header-nav-options a:hover {
    transform: scale(1.1);
    color: var(--content-text-color-3);
}

.login-button {
    width: clamp(92px, 9vw, 150px);
    height: clamp(43px, 4vw, 66px);;
    background-color: var(--signup-button-color);
    border: solid 3px var(--signup-button-border-color);
    color: var(--content-text-color-1);
    border-radius: 100px;
    font-family: 'Arvo', serif;
    font-size: clamp(1.25rem, 1.85vw, 2rem);
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
}

.nav-logged-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myAccount-link {
    font-size: clamp(1.15rem, 1.55vw, 1.4rem);
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--content-text-color-1);
    transition: all 0.5s ease-in-out;
}

.myAccount-link:hover {
    color: var(--content-text-color-3);
}

.logout-button {
    width: clamp(90px, 7vw, 110px);
    height: clamp(25px, 3.5vw, 41px);;
    background-color: var(--login-error-comunicate-color);
    border: solid 3px rgb(223, 14, 14);
    color: var(--content-text-color-1);
    border-radius: 100px;
    font-family: 'Arvo', serif;
    font-size: clamp(1.05rem, 1.55vw, 1.4rem);
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
}

