.content {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.acces-warning {
    margin-top: 120px;
    height: 600px;
    font-size: 1.8rem;
    color: var(--login-error-comunicate-color);
}

.container {
    height: 750px;
}